{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "jest"],
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "settings": {
    "react": {
      "pragma": "OwnReact"
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off"
  }
}
